Martex.DMS.BLL/Service References/PSAP_LookupUS/EOLS_PSAPLookupUS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:ns2="http://www.pb.com/spectrum/services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://spectrum.pb.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://www.pb.com/spectrum/services/EOLS_PSAPLookupUS" xmlns:ns3="http://schemas.xmlsoap.org/soap/http" name="EOLS_PSAPLookupUS" targetNamespace="http://spectrum.pb.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:ns2="http://www.mapinfo.com/midev/service/geometries/v1" xmlns:tns="http://www.pb.com/spectrum/services/EOLS_PSAPLookupUS" xmlns:ns1="http://spectrum.pb.com/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.pb.com/spectrum/services/EOLS_PSAPLookupUS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://spectrum.pb.com/" />
      <xs:import namespace="http://www.mapinfo.com/midev/service/geometries/v1" />
      <xs:element name="Input.Row" type="tns:Input.Row" />
      <xs:element name="Input.RowList" type="tns:Input.RowList" />
      <xs:element name="Output.Row" type="tns:Output.Row" />
      <xs:element name="Output.RowList" type="tns:Output.RowList" />
      <xs:complexType name="EOLS_PSAPLookupUSRequest">
        <xs:sequence>
          <xs:element minOccurs="0" form="qualified" name="options" type="tns:options" />
          <xs:element minOccurs="0" form="qualified" name="Input" type="tns:Input.RowList" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="options">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="Input.RowList">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" form="qualified" name="Row" type="tns:Input.Row" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Input.Row">
        <xs:all>
          <xs:element minOccurs="0" form="qualified" name="Latitude" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="Longitude" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="InputKeyValue" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="FirmName" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="AddressLine1" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="AddressLine2" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="AddressLine3" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="AddressLine4" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="AddressLine5" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="AddressLine6" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="LastLine" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="City" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="StateProvince" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="PostalCode" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="user_fields">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" form="qualified" name="user_field" type="tns:user_field" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:all>
      </xs:complexType>
      <xs:complexType name="user_field">
        <xs:sequence>
          <xs:element form="qualified" name="name" type="xs:string" />
          <xs:element form="qualified" name="value" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="EOLS_PSAPLookupUSResponse">
        <xs:sequence>
          <xs:element minOccurs="0" form="qualified" name="Output" type="tns:Output.RowList" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Output.RowList">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" form="qualified" name="Row" type="tns:Output.Row" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Output.Row">
        <xs:all>
          <xs:element minOccurs="0" form="qualified" name="Geometry" type="ns2:Geometry" />
          <xs:element minOccurs="0" form="qualified" name="PSAPID" type="xs:int" />
          <xs:element minOccurs="0" form="qualified" name="FCCID" type="xs:int" />
          <xs:element minOccurs="0" form="qualified" name="PSAPType" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="CountyName" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="CountyFIPS" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="Agency" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="CoverageArea" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="CoverageExceptions" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="CoverageComments" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="PSAPComments" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="OperatorPhone" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="ContactPrefix" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="ContactFirstName" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="ContactLastName" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="ContactTitle" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="ContactPhone" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="ContactFax" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="ContactEmail" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="ContactComments" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="MailingStreet" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="MailingCity" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="MailingState" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="MailingZip" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="SitePhone" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="SiteFax" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="SiteStreet" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="SiteCity" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="SiteState" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="SiteZip" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="Status" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="Status.Code" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="Status.Description" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="Confidence" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="ProcessedBy" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="StreetDataType" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="LocationCode" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="MatchCode" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="AdditionalInputData" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="AddressLine1" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="AddressLine2" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="City" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="Country" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="FirmName" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="LastLine" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="PostalCode" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="PostalCode.Base" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="PostalCode.AddOn" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="RRHC" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="StateProvince" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="USUrbanName" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="Latitude" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="Longitude" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="StreetSide" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="InputKeyValue" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="AddressLine3" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="AddressLine4" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="AddressLine5" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="AddressLine6" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="PolicePhone" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="FirePhone" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="EMSPhone" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="user_fields">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" form="qualified" name="user_field" type="tns:user_field" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:all>
      </xs:complexType>
      <xs:element name="EOLS_PSAPLookupUSRequest" nillable="true" type="tns:EOLS_PSAPLookupUSRequest" />
      <xs:element name="EOLS_PSAPLookupUSResponse" nillable="true" type="tns:EOLS_PSAPLookupUSResponse" />
    </xs:schema>
    <xs:schema xmlns:tns="http://www.mapinfo.com/midev/service/units/v1" targetNamespace="http://www.mapinfo.com/midev/service/units/v1" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="Angle">
        <xs:simpleContent>
          <xs:extension base="xs:double">
            <xs:attribute name="uom" type="tns:AngularUnit" use="required" />
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>
      <xs:simpleType name="AngularUnit">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Degree" />
          <xs:enumeration value="Minute" />
          <xs:enumeration value="Second" />
          <xs:enumeration value="Radian" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
    <xs:schema xmlns:tns="http://www.mapinfo.com/midev/service/geometries/v1" xmlns:ns1="http://www.mapinfo.com/midev/service/units/v1" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.mapinfo.com/midev/service/geometries/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://www.mapinfo.com/midev/service/units/v1" />
      <xs:complexType name="Geometry" abstract="true">
        <xs:sequence />
        <xs:attribute name="srsName" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="Curve">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:Geometry">
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="LineString" type="tns:LineString" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="LineString">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:Geometry">
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Pos" type="tns:Pos" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="Pos">
        <xs:sequence>
          <xs:element name="X" type="xs:double" />
          <xs:element name="Y" type="xs:double" />
          <xs:element minOccurs="0" name="Z" type="xs:double" />
        </xs:sequence>
        <xs:attribute name="mValue" type="xs:double" />
      </xs:complexType>
      <xs:complexType name="Ring">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:Geometry">
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="LineString" type="tns:LineString" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="Polygon">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:Geometry">
            <xs:sequence>
              <xs:element name="Exterior" type="tns:Ring" />
              <xs:element minOccurs="0" name="InteriorList" type="tns:InteriorList" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="InteriorList">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="Ring" type="tns:Ring" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="FeatureGeometry" abstract="true">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:Geometry">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="MultiCurve">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:FeatureGeometry">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Curve" type="tns:Curve" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="Envelope">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:FeatureGeometry">
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Pos" type="tns:Pos" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="MultiFeatureGeometry">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:FeatureGeometry">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="FeatureGeometry" type="tns:FeatureGeometry" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="MultiPolygon">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:FeatureGeometry">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Polygon" type="tns:Polygon" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="MultiPoint">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:FeatureGeometry">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Point" type="tns:Point" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="Point">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:FeatureGeometry">
            <xs:sequence>
              <xs:element name="Pos" type="tns:Pos" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="LegacyText">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:FeatureGeometry">
            <xs:sequence>
              <xs:element name="Rectangle" type="tns:Envelope" />
              <xs:element name="Text" type="xs:string" />
              <xs:element minOccurs="0" name="Angle" type="ns1:Angle" />
              <xs:element minOccurs="0" name="CalloutTarget" type="tns:Pos" />
            </xs:sequence>
            <xs:attribute name="textCalloutType" type="tns:TextCalloutType" />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:simpleType name="TextCalloutType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Simple" />
          <xs:enumeration value="Arrow" />
          <xs:enumeration value="None" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
    <xs:schema xmlns="http://spectrum.pb.com/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://spectrum.pb.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://www.pb.com/spectrum/services/EOLS_PSAPLookupUS" />
      <xs:element name="EOLS_PSAPLookupUSRequest" type="ns1:EOLS_PSAPLookupUSRequest" />
      <xs:element name="EOLS_PSAPLookupUSResponse" type="ns1:EOLS_PSAPLookupUSResponse" />
      <xs:element name="options" type="ns1:options" />
      <xs:element name="user_field" type="ns1:user_field" />
      <xs:complexType name="ServiceInvocationFault">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xsd:schema xmlns:tns="http://www.pb.com/spectrum/services/" xmlns:ns0="http://spectrum.pb.com/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.pb.com/spectrum/services/">
      <xsd:element name="ServiceInvocationFault" nillable="true" type="ns0:ServiceInvocationFault" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ServiceInvocationFault">
    <wsdl:part name="ServiceInvocationFault" element="ns2:ServiceInvocationFault" />
  </wsdl:message>
  <wsdl:message name="EOLS_PSAPLookupUSResponse">
    <wsdl:part name="parameters" element="ns1:EOLS_PSAPLookupUSResponse" />
  </wsdl:message>
  <wsdl:message name="EOLS_PSAPLookupUS">
    <wsdl:part name="parameters" element="ns1:EOLS_PSAPLookupUSRequest" />
  </wsdl:message>
  <wsdl:portType name="EOLS_PSAPLookupUS">
    <wsdl:operation name="EOLS_PSAPLookupUS">
      <wsdl:input name="EOLS_PSAPLookupUS" message="tns:EOLS_PSAPLookupUS" />
      <wsdl:output name="EOLS_PSAPLookupUSResponse" message="tns:EOLS_PSAPLookupUSResponse" />
      <wsdl:fault name="ServiceInvocationFault" message="tns:ServiceInvocationFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EOLS_PSAPLookupUSSoapBinding" type="tns:EOLS_PSAPLookupUS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EOLS_PSAPLookupUS">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="EOLS_PSAPLookupUS">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="EOLS_PSAPLookupUSResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceInvocationFault">
        <soap:fault use="literal" name="ServiceInvocationFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EOLS_PSAPLookupUS">
    <wsdl:port name="EOLS_PSAPLookupUSPort" binding="tns:EOLS_PSAPLookupUSSoapBinding">
      <soap:address location="https://staging.g1.com/soap/EOLS_PSAPLookupUS" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>