ClientPortalServiceClient/ClientPortalServiceClient/Service References/ServiceReferenceClient/ClientPortalMemberService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClientPortalMemberService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://infhydcrm4d:82/ClientPortalMemberService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://infhydcrm4d:82/ClientPortalMemberService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/ClientPortalService" />
      <xsd:import schemaLocation="http://infhydcrm4d:82/ClientPortalMemberService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://infhydcrm4d:82/ClientPortalMemberService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Martex.DMS.DAL.Entities" />
      <xsd:import schemaLocation="http://infhydcrm4d:82/ClientPortalMemberService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Martex.DMS.DAL" />
      <xsd:import schemaLocation="http://infhydcrm4d:82/ClientPortalMemberService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClientPortalMemberService_AddMember_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMember" />
  </wsdl:message>
  <wsdl:message name="IClientPortalMemberService_AddMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMemberResponse" />
  </wsdl:message>
  <wsdl:message name="IClientPortalMemberService_AddMember_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/ClientPortalService" name="detail" element="q1:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="IClientPortalMemberService_UpdateMember_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMember" />
  </wsdl:message>
  <wsdl:message name="IClientPortalMemberService_UpdateMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMemberResponse" />
  </wsdl:message>
  <wsdl:message name="IClientPortalMemberService_UpdateMember_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/ClientPortalService" name="detail" element="q2:ValidationFault" />
  </wsdl:message>
  <wsdl:portType name="IClientPortalMemberService">
    <wsdl:operation name="AddMember">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientPortalMemberService/AddMember" message="tns:IClientPortalMemberService_AddMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientPortalMemberService/AddMemberResponse" message="tns:IClientPortalMemberService_AddMember_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IClientPortalMemberService/AddMemberValidationFaultFault" name="ValidationFaultFault" message="tns:IClientPortalMemberService_AddMember_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMember">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientPortalMemberService/UpdateMember" message="tns:IClientPortalMemberService_UpdateMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientPortalMemberService/UpdateMemberResponse" message="tns:IClientPortalMemberService_UpdateMember_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IClientPortalMemberService/UpdateMemberValidationFaultFault" name="ValidationFaultFault" message="tns:IClientPortalMemberService_UpdateMember_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClientPortalMemberService" type="tns:IClientPortalMemberService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddMember">
      <soap:operation soapAction="http://tempuri.org/IClientPortalMemberService/AddMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateMember">
      <soap:operation soapAction="http://tempuri.org/IClientPortalMemberService/UpdateMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientPortalMemberService">
    <wsdl:port name="BasicHttpBinding_IClientPortalMemberService" binding="tns:BasicHttpBinding_IClientPortalMemberService">
      <soap:address location="http://infhydcrm4d:82/ClientPortalMemberService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>