Martex.DMS.BLL/Service References/WebDialerService/wd70.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:intf="urn:WD70" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="urn:WD70" targetNamespace="urn:WD70" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:WD70">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="Credential">
        <xsd:sequence>
          <xsd:element name="userID" type="xsd:string" />
          <xsd:element name="password" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="UserProfile">
        <xsd:sequence>
          <xsd:element name="user" type="xsd:string" />
          <xsd:element name="deviceName" type="xsd:string" />
          <xsd:element name="lineNumber" type="xsd:string" />
          <xsd:element name="supportEM" type="xsd:boolean" />
          <xsd:element name="locale" type="xsd:string" />
          <xsd:element name="dontAutoClose" type="xsd:boolean" />
          <xsd:element name="dontShowCallConf" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CallResponse">
        <xsd:sequence>
          <xsd:element name="responseCode" type="xsd:int" />
          <xsd:element name="responseDescription" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="WDDeviceInfo">
        <xsd:sequence>
          <xsd:element name="deviceName" type="xsd:string" />
          <xsd:element name="lines" type="impl:ArrayOf_soapenc_string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfWDDeviceInfo">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="impl:WDDeviceInfo[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="GetConfigResponse">
        <xsd:sequence>
          <xsd:element name="description" type="xsd:string" />
          <xsd:element name="deviceInfoList" type="impl:ArrayOfWDDeviceInfo" />
          <xsd:element name="responseCode" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_soapenc_string">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="soapenc:string[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="WDDeviceInfoDetail">
        <xsd:sequence>
          <xsd:element name="deviceName" nillable="true" type="soapenc:string" />
          <xsd:element name="lines" nillable="true" type="impl:ArrayOf_soapenc_string" />
          <xsd:element name="phoneDesc" nillable="true" type="soapenc:string" />
          <xsd:element name="phoneType" nillable="true" type="soapenc:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfWDDeviceInfoDetail">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="impl:WDDeviceInfoDetail[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ConfigResponseDetail">
        <xsd:sequence>
          <xsd:element name="description" nillable="true" type="soapenc:string" />
          <xsd:element name="deviceInfoListDetail" nillable="true" type="impl:ArrayOfWDDeviceInfoDetail" />
          <xsd:element name="responseCode" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getProfileDetailSoapResponse">
    <wsdl:part name="getProfileDetailSoapReturn" type="impl:ConfigResponseDetail" />
  </wsdl:message>
  <wsdl:message name="getPrimaryLineResponse">
    <wsdl:part name="getPrimaryLineReturn" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="getPrimaryLineRequest">
    <wsdl:part name="in0" type="impl:Credential" />
  </wsdl:message>
  <wsdl:message name="getProfileDetailSoapRequest">
    <wsdl:part name="in0" type="impl:Credential" />
  </wsdl:message>
  <wsdl:message name="getProfileSoapRequest">
    <wsdl:part name="in0" type="impl:Credential" />
    <wsdl:part name="in1" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="getProfileSoapResponse">
    <wsdl:part name="getProfileSoapReturn" type="impl:GetConfigResponse" />
  </wsdl:message>
  <wsdl:message name="endCallSoapResponse">
    <wsdl:part name="endCallSoapReturn" type="impl:CallResponse" />
  </wsdl:message>
  <wsdl:message name="makeCallSoapResponse">
    <wsdl:part name="makeCallSoapReturn" type="impl:CallResponse" />
  </wsdl:message>
  <wsdl:message name="isClusterUserSoapResponse">
    <wsdl:part name="isClusterUserSoapReturn" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="makeCallSoapRequest">
    <wsdl:part name="in0" type="impl:Credential" />
    <wsdl:part name="in1" type="soapenc:string" />
    <wsdl:part name="in2" type="impl:UserProfile" />
  </wsdl:message>
  <wsdl:message name="endCallSoapRequest">
    <wsdl:part name="in0" type="impl:Credential" />
    <wsdl:part name="in1" type="impl:UserProfile" />
  </wsdl:message>
  <wsdl:message name="isClusterUserSoapRequest">
    <wsdl:part name="in0" type="soapenc:string" />
  </wsdl:message>
  <wsdl:portType name="WDSoapInterface">
    <wsdl:operation name="makeCallSoap" parameterOrder="in0 in1 in2">
      <wsdl:input name="makeCallSoapRequest" message="impl:makeCallSoapRequest" />
      <wsdl:output name="makeCallSoapResponse" message="impl:makeCallSoapResponse" />
    </wsdl:operation>
    <wsdl:operation name="endCallSoap" parameterOrder="in0 in1">
      <wsdl:input name="endCallSoapRequest" message="impl:endCallSoapRequest" />
      <wsdl:output name="endCallSoapResponse" message="impl:endCallSoapResponse" />
    </wsdl:operation>
    <wsdl:operation name="getProfileSoap" parameterOrder="in0 in1">
      <wsdl:input name="getProfileSoapRequest" message="impl:getProfileSoapRequest" />
      <wsdl:output name="getProfileSoapResponse" message="impl:getProfileSoapResponse" />
    </wsdl:operation>
    <wsdl:operation name="isClusterUserSoap" parameterOrder="in0">
      <wsdl:input name="isClusterUserSoapRequest" message="impl:isClusterUserSoapRequest" />
      <wsdl:output name="isClusterUserSoapResponse" message="impl:isClusterUserSoapResponse" />
    </wsdl:operation>
    <wsdl:operation name="getProfileDetailSoap" parameterOrder="in0">
      <wsdl:input name="getProfileDetailSoapRequest" message="impl:getProfileDetailSoapRequest" />
      <wsdl:output name="getProfileDetailSoapResponse" message="impl:getProfileDetailSoapResponse" />
    </wsdl:operation>
    <wsdl:operation name="getPrimaryLine" parameterOrder="in0">
      <wsdl:input name="getPrimaryLineRequest" message="impl:getPrimaryLineRequest" />
      <wsdl:output name="getPrimaryLineResponse" message="impl:getPrimaryLineResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebdialerSoapServiceSoapBinding" type="impl:WDSoapInterface">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="makeCallSoap">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="makeCallSoapRequest">
        <wsdlsoap:body use="encoded" namespace="urn:WD70" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="makeCallSoapResponse">
        <wsdlsoap:body use="encoded" namespace="urn:WD70" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="endCallSoap">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="endCallSoapRequest">
        <wsdlsoap:body use="encoded" namespace="urn:WD70" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="endCallSoapResponse">
        <wsdlsoap:body use="encoded" namespace="urn:WD70" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProfileSoap">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getProfileSoapRequest">
        <wsdlsoap:body use="encoded" namespace="urn:WD70" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getProfileSoapResponse">
        <wsdlsoap:body use="encoded" namespace="urn:WD70" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isClusterUserSoap">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="isClusterUserSoapRequest">
        <wsdlsoap:body use="encoded" namespace="urn:WD70" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="isClusterUserSoapResponse">
        <wsdlsoap:body use="encoded" namespace="urn:WD70" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProfileDetailSoap">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getProfileDetailSoapRequest">
        <wsdlsoap:body use="encoded" namespace="urn:WD70" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getProfileDetailSoapResponse">
        <wsdlsoap:body use="encoded" namespace="urn:WD70" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPrimaryLine">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getPrimaryLineRequest">
        <wsdlsoap:body use="encoded" namespace="urn:WD70" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getPrimaryLineResponse">
        <wsdlsoap:body use="encoded" namespace="urn:WD70" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WDSoapInterfaceService">
    <wsdl:port name="WebdialerSoapService" binding="impl:WebdialerSoapServiceSoapBinding">
      <wsdlsoap:address location="https://localhost/webdialer/services/WebdialerSoapService70" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>