Martex.DMS.BLL/Service References/HagertyPlusService/NMCHPlusService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NMCHPlusService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_INMCHPlus_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:EndorsingSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:SecureConversationToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:BootstrapPolicy>
                  <wsp:Policy>
                    <sp:SignedParts>
                      <sp:Body />
                      <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
                    </sp:SignedParts>
                    <sp:EncryptedParts>
                      <sp:Body />
                    </sp:EncryptedParts>
                    <sp:TransportBinding>
                      <wsp:Policy>
                        <sp:TransportToken>
                          <wsp:Policy>
                            <sp:HttpsToken RequireClientCertificate="false" />
                          </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                          <wsp:Policy>
                            <sp:Basic256 />
                          </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                          <wsp:Policy>
                            <sp:Strict />
                          </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp />
                      </wsp:Policy>
                    </sp:TransportBinding>
                    <sp:SignedSupportingTokens>
                      <wsp:Policy>
                        <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                          <wsp:Policy>
                            <sp:WssUsernameToken10 />
                          </wsp:Policy>
                        </sp:UsernameToken>
                      </wsp:Policy>
                    </sp:SignedSupportingTokens>
                    <sp:Wss11>
                      <wsp:Policy />
                    </sp:Wss11>
                    <sp:Trust10>
                      <wsp:Policy>
                        <sp:MustSupportIssuedTokens />
                        <sp:RequireClientEntropy />
                        <sp:RequireServerEntropy />
                      </wsp:Policy>
                    </sp:Trust10>
                  </wsp:Policy>
                </sp:BootstrapPolicy>
              </wsp:Policy>
            </sp:SecureConversationToken>
          </wsp:Policy>
        </sp:EndorsingSupportingTokens>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust10>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://moservices.hagerty.com/B2B/SecondaryHPlusService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://moservices.hagerty.com/B2B/SecondaryHPlusService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://moservices.hagerty.com/B2B/SecondaryHPlusService?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="https://moservices.hagerty.com/B2B/SecondaryHPlusService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Hagerty.Common.Types.DataContracts.HPlus" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INMCHPlus_ServiceIsRunning_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceIsRunning" />
  </wsdl:message>
  <wsdl:message name="INMCHPlus_ServiceIsRunning_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceIsRunningResponse" />
  </wsdl:message>
  <wsdl:message name="INMCHPlus_ServiceInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceInfo" />
  </wsdl:message>
  <wsdl:message name="INMCHPlus_ServiceInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceInfoResponse" />
  </wsdl:message>
  <wsdl:message name="INMCHPlus_RequestMembershipInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestMembershipInformation" />
  </wsdl:message>
  <wsdl:message name="INMCHPlus_RequestMembershipInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestMembershipInformationResponse" />
  </wsdl:message>
  <wsdl:message name="INMCHPlus_SendEventInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:SendEventInformation" />
  </wsdl:message>
  <wsdl:message name="INMCHPlus_SendEventInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendEventInformationResponse" />
  </wsdl:message>
  <wsdl:message name="INMCHPlus_GetActiveMemberships_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveMemberships" />
  </wsdl:message>
  <wsdl:message name="INMCHPlus_GetActiveMemberships_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveMembershipsResponse" />
  </wsdl:message>
  <wsdl:portType name="INMCHPlus">
    <wsdl:operation name="ServiceIsRunning">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonService/ServiceIsRunning" message="tns:INMCHPlus_ServiceIsRunning_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonService/ServiceIsRunningResponse" message="tns:INMCHPlus_ServiceIsRunning_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServiceInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonService/ServiceInfo" message="tns:INMCHPlus_ServiceInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonService/ServiceInfoResponse" message="tns:INMCHPlus_ServiceInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestMembershipInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/INMCHPlus/RequestMembershipInformation" message="tns:INMCHPlus_RequestMembershipInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INMCHPlus/RequestMembershipInformationResponse" message="tns:INMCHPlus_RequestMembershipInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendEventInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/INMCHPlus/SendEventInformation" message="tns:INMCHPlus_SendEventInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INMCHPlus/SendEventInformationResponse" message="tns:INMCHPlus_SendEventInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetActiveMemberships">
      <wsdl:input wsaw:Action="http://tempuri.org/INMCHPlus/GetActiveMemberships" message="tns:INMCHPlus_GetActiveMemberships_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INMCHPlus/GetActiveMembershipsResponse" message="tns:INMCHPlus_GetActiveMemberships_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_INMCHPlus" type="tns:INMCHPlus">
    <wsp:PolicyReference URI="#WSHttpBinding_INMCHPlus_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ServiceIsRunning">
      <soap12:operation soapAction="http://tempuri.org/ICommonService/ServiceIsRunning" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceInfo">
      <soap12:operation soapAction="http://tempuri.org/ICommonService/ServiceInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestMembershipInformation">
      <soap12:operation soapAction="http://tempuri.org/INMCHPlus/RequestMembershipInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEventInformation">
      <soap12:operation soapAction="http://tempuri.org/INMCHPlus/SendEventInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActiveMemberships">
      <soap12:operation soapAction="http://tempuri.org/INMCHPlus/GetActiveMemberships" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NMCHPlusService">
    <wsdl:port name="WSHttpBinding_INMCHPlus" binding="tns:WSHttpBinding_INMCHPlus">
      <soap12:address location="https://moservices.hagerty.com/B2B/SecondaryHPlusService" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://moservices.hagerty.com/B2B/SecondaryHPlusService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>