Martex.DMS.BLL/Service References/WSCreditCardService/CreditCardService41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://services.motorcluboperations.com/CreditCardService/CreditCardService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Nmca.Web.Services" />
  <xs:element name="ExecuteSale">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Nmca.Web.Services" minOccurs="0" name="request" nillable="true" type="q1:SaleRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteSaleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Nmca.Web.Services" minOccurs="0" name="ExecuteSaleResult" nillable="true" type="q2:ProcessorResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecutePreAuthorization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Nmca.Web.Services" minOccurs="0" name="request" nillable="true" type="q3:SaleRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecutePreAuthorizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Nmca.Web.Services" minOccurs="0" name="ExecutePreAuthorizationResult" nillable="true" type="q4:ProcessorResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecutePostAuthorization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Nmca.Web.Services" minOccurs="0" name="request" nillable="true" type="q5:PostAuthorizationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecutePostAuthorizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Nmca.Web.Services" minOccurs="0" name="ExecutePostAuthorizationResult" nillable="true" type="q6:ProcessorResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteForceTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Nmca.Web.Services" minOccurs="0" name="request" nillable="true" type="q7:SaleRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteForceTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Nmca.Web.Services" minOccurs="0" name="ExecuteForceTicketResult" nillable="true" type="q8:ProcessorResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteReturn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Nmca.Web.Services" minOccurs="0" name="request" nillable="true" type="q9:PostAuthorizationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteReturnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Nmca.Web.Services" minOccurs="0" name="ExecuteReturnResult" nillable="true" type="q10:ProcessorResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteCredit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Nmca.Web.Services" minOccurs="0" name="request" nillable="true" type="q11:SaleRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteCreditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Nmca.Web.Services" minOccurs="0" name="ExecuteCreditResult" nillable="true" type="q12:ProcessorResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteVoid">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Nmca.Web.Services" minOccurs="0" name="request" nillable="true" type="q13:VoidRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteVoidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Nmca.Web.Services" minOccurs="0" name="ExecuteVoidResult" nillable="true" type="q14:ProcessorResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>