Martex.DMS.EventNotification.Console/Service References/TowbookServiceReference/TowbookRequestHandler1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TowbookRequestHandler" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://towbook/TowbookRequestHandler.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://towbook/TowbookRequestHandler.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITowbookRequestHandler_GetVendorLocationsListForVendorNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVendorLocationsListForVendorNumber" />
  </wsdl:message>
  <wsdl:message name="ITowbookRequestHandler_GetVendorLocationsListForVendorNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVendorLocationsListForVendorNumberResponse" />
  </wsdl:message>
  <wsdl:message name="ITowbookRequestHandler_Process_InputMessage">
    <wsdl:part name="parameters" element="tns:Process" />
  </wsdl:message>
  <wsdl:message name="ITowbookRequestHandler_Process_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessResponse" />
  </wsdl:message>
  <wsdl:portType name="ITowbookRequestHandler">
    <wsdl:operation name="GetVendorLocationsListForVendorNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/ITowbookRequestHandler/GetVendorLocationsListForVendorNumber" message="tns:ITowbookRequestHandler_GetVendorLocationsListForVendorNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITowbookRequestHandler/GetVendorLocationsListForVendorNumberResponse" message="tns:ITowbookRequestHandler_GetVendorLocationsListForVendorNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Process">
      <wsdl:input wsaw:Action="http://tempuri.org/ITowbookRequestHandler/Process" message="tns:ITowbookRequestHandler_Process_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITowbookRequestHandler/ProcessResponse" message="tns:ITowbookRequestHandler_Process_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITowbookRequestHandler" type="tns:ITowbookRequestHandler">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetVendorLocationsListForVendorNumber">
      <soap:operation soapAction="http://tempuri.org/ITowbookRequestHandler/GetVendorLocationsListForVendorNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Process">
      <soap:operation soapAction="http://tempuri.org/ITowbookRequestHandler/Process" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TowbookRequestHandler">
    <wsdl:port name="BasicHttpBinding_ITowbookRequestHandler" binding="tns:BasicHttpBinding_ITowbookRequestHandler">
      <soap:address location="http://towbook/TowbookRequestHandler.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>