Martex.DMS.BLL/Service References/DigitalDispatchAPI/pinnacle.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://api.towbook.com/receivers/pinnacle/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://api.towbook.com/receivers/pinnacle/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://api.towbook.com/receivers/pinnacle/">
      <s:element name="DDXMLReceiveMessageEx">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="apiKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xmlMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DDXMLReceiveMessageExResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DDXMLReceiveMessageExResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DDXMLReceiveMessageExSoapIn">
    <wsdl:part name="parameters" element="tns:DDXMLReceiveMessageEx" />
  </wsdl:message>
  <wsdl:message name="DDXMLReceiveMessageExSoapOut">
    <wsdl:part name="parameters" element="tns:DDXMLReceiveMessageExResponse" />
  </wsdl:message>
  <wsdl:portType name="TowbookServiceSoap">
    <wsdl:operation name="DDXMLReceiveMessageEx">
      <wsdl:input message="tns:DDXMLReceiveMessageExSoapIn" />
      <wsdl:output message="tns:DDXMLReceiveMessageExSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TowbookServiceSoap" type="tns:TowbookServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DDXMLReceiveMessageEx">
      <soap:operation soapAction="https://api.towbook.com/receivers/pinnacle/DDXMLReceiveMessageEx" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TowbookServiceSoap12" type="tns:TowbookServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DDXMLReceiveMessageEx">
      <soap12:operation soapAction="https://api.towbook.com/receivers/pinnacle/DDXMLReceiveMessageEx" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TowbookService">
    <wsdl:port name="TowbookServiceSoap" binding="tns:TowbookServiceSoap">
      <soap:address location="https://api.towbook.com/receivers/pinnacle" />
    </wsdl:port>
    <wsdl:port name="TowbookServiceSoap12" binding="tns:TowbookServiceSoap12">
      <soap12:address location="https://api.towbook.com/receivers/pinnacle" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>