Martex.DMS.BLL/Service References/Hagerty/NMCService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Hagerty.NMC.Service.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Hagerty.NMC.Service.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResponseData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PolicyVehicleResponse" nillable="true" type="tns:ArrayOfPolicyVehicles" />
      <xs:element minOccurs="0" name="ResponseMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseData" nillable="true" type="tns:ResponseData" />
  <xs:complexType name="ArrayOfPolicyVehicles">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PolicyVehicles" nillable="true" type="tns:PolicyVehicles" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPolicyVehicles" nillable="true" type="tns:ArrayOfPolicyVehicles" />
  <xs:complexType name="PolicyVehicles">
    <xs:sequence>
      <xs:element minOccurs="0" name="BodyStyle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Make" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PolicyID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Year" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PolicyVehicles" nillable="true" type="tns:PolicyVehicles" />
</xs:schema>